{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 class="fontTitle ft-40 lightBlue">1. Choisissez une <span class="darkBlue">catégorie</span></h2>
            </div>

            <div class="col-md-8 col-sm-12">
               <div class="grid">
                   {% set i = 0 %}
                   {% for category in categories %}

                   <a href="{{ path('searchEngine_category_show', { 'id': category.id }) }}">
                       <div class="grid-item visible text-center {{ i is divisible by(2) ? 'bgDarkBlue' : 'bgLightBlue' }}">
                           <div class="w100">{{ category.name }}</div><br/>
                           <div class="gutter-sizer"></div>
                       </div>
                   </a>

                   {% set i = i + 1 %}
                   {% endfor %}
               </div>
           </div>
        </div>
    </div>
{% endblock %}
