{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    <h1>Elements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for element in elements %}
            <tr>
                <td>{{ element.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('searchEngine_featureValue_new', { 'name': element.name }) }}">ajouter valeurs</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
