{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                
                <td>{{ category.name }}</td>
                <td>
                    <li>
                        <a href="{{ path('searchEngine_element_new', { 'name': category.name }) }}">Create a new Element</a>
                    </li>
                </td>    
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('searchEngine_category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
