{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    <h1>Feature creation</h1>

    {{ form_start(form, {'multipart': 'true'}) }}
        {{ form_widget(form) }}

        <div id="addInput"></div>

        <input type="submit" value="Create" />
    {{ form_end(form) }}


{% endblock %}
